/* Links Page Styles */
.links {
    padding: 60px 20px;
    background: var(--background-light);
    color: var(--text-color-dark);
    text-align: center;
}

.links h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.links ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

.links ul li {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.links ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: var(--accent-color);
}
